.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Trending Products Section */
.trending-products, .suggested-products {
  margin-top: 40px;
}

.trending-products h2, .suggested-products h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.featured-product-card {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  flex: 2;
}

.featured-product-details {
  margin-left: 15px;
}

.product-buttons button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #358d96;
  color: white;
  border: none;
  cursor: pointer;
}

.product-buttons button:hover {
  background-color: #2f8e94;
}
